---
import xss from "xss";
import Layout from "@layouts/Layout.astro";
import getRelativeTime from "@modules/getRelativeTime";
import { Icon } from "astro-icon/components";

const { user } = Astro.params;

const req = await fetch(`${import.meta.env.HN_API}/user/${user}.json`);
const data = await req.json();
if (!data) return Astro.redirect("/404");

const { id: username, created: createdAt, karma, about, submitted: posts } = data;
---

<Layout title={`@${username}`}>
  <div class="h-auto w-full">
    <div class="mx-auto max-w-md">
      <h1 class="text-center text-2xl font-medium">@{username}</h1>
      <p class="text-center text-neutral-400/75">
        {new Date(createdAt * 1000).toLocaleDateString("it-IT")} ({getRelativeTime(createdAt)})
      </p>

      <div class="mb-2 flex justify-center space-x-4">
        <div class="flex items-center space-x-1">
          <Icon name="star" />
          <span>{karma}</span>
        </div>

        <div class="flex items-center space-x-1">
          <Icon name="comment" />
          <span>{posts.length}</span>
        </div>
      </div>

      {
        about && (
          <div class="text-left">
            <p set:html={xss(about)} />
          </div>
        )
      }
    </div>
  </div>
</Layout>
