---
import xss from "xss";
import Layout from "@layouts/Layout.astro";
import getRelativeTime from "@modules/getRelativeTime";

const { user } = Astro.params;

const req = await fetch(`${import.meta.env.HN_API}/user/${user}.json`);
const data = await req.json();
if (!data) return Astro.redirect("/404");

const { id: username, created: createdAt, karma, about, submitted: posts } = data;
---

<Layout title={`@${username}`}>
  <span>
    <b>Username:</b>
    <span>{username}</span>
  </span>

  {
    about && (
      <span>
        <b>About:</b>
        <div set:html={xss(about)} />
      </span>
    )
  }

  <span>
    <b>Joined HN:</b>
    <span>{getRelativeTime(createdAt)}</span>
  </span>

  <span>
    <b>Karma:</b>
    <span>{karma}</span>
  </span>
</Layout>

<style is:global>
  p {
    padding-top: 1vh;
    padding-bottom: 1vh;
  }
  code {
    display: block;
    margin: 0 0 1em;
    white-space: pre-wrap;
  }
</style>
