---
import SearchIcon from "@components/icons/Search.astro";

const filter = Astro.url.searchParams.get("filter");
const q = Astro.url.searchParams.get("q");
const isSearch = Astro.url.pathname.startsWith("/search");

type NavLink = {
  label: string;
  url: string;
};

const links: NavLink[] = [
  {
    label: "news",
    url: "",
  },
  {
    label: "ask",
    url: "/ask",
  },
  {
    label: "show",
    url: "/show",
  },
];

const isSelected = (url: string) => {
  return Astro.url.pathname == url || Astro.url.pathname == `${url}/`;
};
---

<nav class="h-14 w-full border-b border-gray-300 bg-white px-3 dark:border-neutral-500/40 dark:bg-black">
  <main class="m-auto flex h-full w-full max-w-screen-md items-center justify-between">
    <a class="text-xl font-extrabold text-neutral-900 hover:no-underline dark:text-white" href="/">[HN]</a>
    <div
      class={!isSearch
        ? "box-border flex items-center gap-3"
        : "hidden md:box-border md:items-center md:gap-3 md:flex"}
    >
      {
        links.map((link) =>
          isSelected(link.url) ? (
            <a class="font-bold hover:cursor-default hover:no-underline">{link.label}</a>
          ) : (
            <a href={`${link.url}${filter ? `/?filter=${filter}` : ""}`}>{link.label}</a>
          ),
        )
      }
      <label
        for="q"
        class="block cursor-pointer rounded-md border border-gray-300 p-2 text-neutral-900 dark:border-neutral-500/40 dark:text-white"
      >
        <SearchIcon />
      </label>
    </div>
  </main>
</nav>
