---
import xss from "xss";

import Item from "@components/Item.astro";
import getRelativeTime from "@modules/getRelativeTime";
import extractDomainFromLink from "@modules/extractDomainFromLink";
import type { HNItem, HNComment } from "@/types/hn";
import UpvoteIcon from "@components/icons/Upvote.astro";
import CommentIcon from "@components/icons/Comment.astro";
import ExternalLinkIcon from "@components/icons/ExternalLink.astro";

interface Props {
  data: HNItem & { kids?: HNComment[] };
}
const { data } = Astro.props;
---

<div class="py-3">
  <div class="m-auto flex w-full max-w-screen-md flex-col justify-between">
    <div class="flex w-full flex-col break-words">
      <!-- Author, time and title -->
      <div class="flex flex-col">
        <div class="text-sm">
          <span>Posted by</span>
          <a href={`/@${data.by}`} class="text-blue-500 hover:underline">
            {data.by}
          </a>
          <span>{getRelativeTime(data.time)}</span>
        </div>
        <a href={data.url ? data.url : `/item/${data.id}`} class="font-bold text-neutral-900 dark:text-white">
          {data.title}
        </a>
      </div>
      <!-- External URL -->
      {
        data.url && (
          <span class="flex items-center gap-1 break-all text-sm">
            {extractDomainFromLink(data.url)}
            <ExternalLinkIcon />
          </span>
        )
      }
      <!-- Post description -->
      {
        data.text && (
          <div class="overflow-y-hidden break-words">
            <p class="p-0" set:html={xss(data.text)} />
          </div>
        )
      }
    </div>
    <!-- Upvotes and comments -->
    <div class="flex flex-wrap items-center gap-3 py-3 text-sm">
      <div class="flex gap-1">
        <UpvoteIcon />
        <span>{data.score ?? 0}</span>
      </div>
      <div class="flex gap-1">
        <CommentIcon />
        <span>{data.descendants ?? 0}</span>
      </div>
    </div>
    <!-- Nested comments (recursive) -->
    <div>
      {data.kids?.map((kid) => <Item data={kid} />)}
    </div>
  </div>
</div>
